body {
    background-color: aqua;
    margin-left: 200px;
}

h1 {
    color: navy;
    font-size: 400%;
}

p {
    font-size: medium;
}

li {
    font-size: large;
}

.epostbutton {
    background-color: white;
    border: none;
    color: slategray;
    transition-duration: 0.4s;
}

.epostbutton:hover {
    background-color: slategray;
    color: white;
}